{{#*inline "header"}}
   <div class="header">
      <div class="logo"></div>
      <div class="text">Welcome to the ultimate tool in Salesforce Documentation</div>
      <div class="generated">Generated on {{dt}}</div>
   </div>
{{/inline}}

