<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="css/common.css" rel="stylesheet" type="text/css"/>
	<link href="css/doc.css" rel="stylesheet" type="text/css"/>
</head>
<body class="apexclass mdinfo">
   {{>header}}
	<section style="padding:10px">Choose an item on the left</section>
</body>
</html>